$dim: 100px;

.tracker {
  border: 1px solid black;
  height: $dim;
  width: $dim;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  font-size: 1.2rem;
  button.primary {
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    font-size: 1.2rem;
  }

  position: relative;
  .actions {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
  }
}
